<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server</title>
</head>
<body>
    <script src="public/js/script.js"></script>
    <div>
        <H1>HTML Clown Templete:</H1>
        <h3><link><a href="http://localhost:3000/some_text">Go to http://localhost:3000/some_text</a></link></h3>
        <h3><link><a href="http://localhost:3000/students">Go to http://localhost:3000/students</a></link></h3>
        <h3><link><a href="http://localhost:3000/students/example">Go to http://localhost:3000/students/example</a></link></h3>
    </div>
</body>
</html>