H1 {
    color: blue;
    background-color: chartreuse;
    text-align: center;
}

.green{
    color: greenyellow;
    background-color: rgb(255, 0, 238);
}

.blue {
    color: blue;
    background-color: rgb(142, 217, 221);
}

.red {
    background-color: crimson;
}

.orange {
    background-color: bisque;
    color: orange;
}